.ccpTableWrap {
    width: 100%;
}

.ccpDlWrap {
    margin-bottom: 0;
}

.ccpUlWrap {
    margin-bottom: 0;
    padding-left: 1.5em;
}

.ccpTableTd {
    padding: 0.25em;
    border: 0.125em solid #D0D0D0;
    text-align: center;
    word-break: break-all;
}

.ccpPreWrap {
    display: block;
    padding: 9px;
    margin: 0 0 9px 0;
    font-size: 11px;
    line-height: 1.5;
    color: #5a5a5a;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 2px;
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}

.ccpDtItem {
    font-weight: bold;
    float: left;
}

.ccpDdItem, .ccpDtItem {
    line-height: 1.5;
    margin-bottom: 0.25em;
}

.ccpDdItem {
    float: none;
    margin-left: 0;
}

.ccpDtItem:after {
    content: ":";
    margin-right: 0.25em;
}

.exampleContent {
    word-break: break-word;
}

.t3-grid-cell {
    display: table-cell;
    width: 2%;
}

.t3-page-columns {
    width: 100%;
    border-collapse: collapse;
}
