{namespace ccp=Mdy\Costumcontentpreview\ViewHelpers}

{ccp:croppedPreviewOfContent(
    content: '{bodytext}',
    linesToCrop : 5,
    contentWrap : '<ul class="ccpUlWrap">|</ul>',
    lineWrap : '<li>|</li>'
)}
