{namespace ccp=Mdy\Costumcontentpreview\ViewHelpers}

{ccp:croppedPreviewOfContent(
    content: '{bodytext}',
    linesToCrop : 5,
    contentWrap : '<table class="ccpTableWrap">|</table>',
    lineWrap: '<tr>|</tr>',
    itemWrap: '<td class="ccpTableTd">|</td>',
    explodeItems: '|'
)}
